<div class="wrapper">
    <div class="page-header clear-filter" filter-color="primary">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

      </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" style="max-width: 300px" src="assets/img/now-logo.png" alt="">
                <h3>Seu condomínio na palma da mão</h3>
            </div>
        </div>
    </div>

     <div class="main">
      <!--<div class="section section-images">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="hero-images-container">
                          <img src="assets/img/hero-image-1.png" alt="">
                      </div>
                      <div class="hero-images-container-1">
                          <img src="assets/img/hero-image-2.png" alt="">
                      </div>
                      <div class="hero-images-container-2">
                          <img src="assets/img/hero-image-3.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Um aplicativo feito para facilitar a vida nos condomínios</h2>
                        <h5 class="description">
                            O NextCondo é a inovação dos condomínios. Um aplicativo voltado especificamente para as atividades internas do condomínio, facilitando o dia a dia dos síndicos e moradores.
                        </h5>
                        <!-- <div class="nucleo-container">
          <img src="assets/img/nucleo.svg" alt="">
        </div> -->
                        <a [routerLink]="['page/nucleoicons']" class="btn btn-primary btn-round btn-lg">Conheça mais sobre o NextCondo!</a>

                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="now-ui-icons ui-1_send"></i>
                            <i class="now-ui-icons ui-2_like"></i>
                            <i class="now-ui-icons transportation_air-baloon"></i>
                            <i class="now-ui-icons text_bold"></i>
                            <i class="now-ui-icons tech_headphones"></i>
                            <i class="now-ui-icons emoticons_satisfied"></i>
                            <i class="now-ui-icons shopping_cart-simple"></i>
                            <i class="now-ui-icons objects_spaceship"></i>
                            <i class="now-ui-icons media-2_note-03"></i>
                            <i class="now-ui-icons ui-2_favourite-28"></i>
                            <i class="now-ui-icons design_palette"></i>
                            <i class="now-ui-icons clothes_tie-bow"></i>
                            <i class="now-ui-icons location_pin"></i>
                            <i class="now-ui-icons objects_key-25"></i>
                            <i class="now-ui-icons travel_istanbul"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">Fácil de usar, a qualquer momento, qualquer hora</h2>
                        <h5 class="description">Libere visitas, sejam pedestres ou veículos de onde estiver</h5>
                        <h5 class="description">Receba notificações do recebimento de suas encomendas, reserve churrasqueiras, salões de festas e todas as outras áreas comuns do seu condomínio com um clique</h5>
                        <h5 class="description">Isso é NextCondo, a facilidade dos serviços do seu condomínio na palma da sua mão.</h5>
                        <a [routerLink]="['page/planos']" class="btn btn-primary btn-round btn-lg">Veja nossos planos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-download" id="#download-section" data-background-color="black">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3 class="title">Ficou interessado em facilitar sua vida como síndico ou administrador de condomínios?</h3>
                        <h5 class="description">Entre em contato conosco agora e agende sua demonstração do NextCondo!</h5>
                        <a [routerLink]="['page/contato']" class="btn btn-primary btn-simple btn-round btn-lg">Clique aqui!</a>
                    </div>
                </div>
                <!-- <div class="row text-center mt-5">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2>Want more?</h2>
                        <h5 class="description">We've just launched
                            <a href="https://timcreative.github.io/now-ui-kit-pro-angular/presentation" target="_blank">Now UI Kit PRO Angular</a>. It has a huge number of components, sections and example pages. Start Your Development With A Badass Bootstrap 4 UI Kit.</h5>
                    </div>
                    <div class="col-md-12">
                        <a href="https://timcreative.github.io/now-ui-kit-pro-angular/presentation" class="btn btn-neutral btn-round btn-lg" target="_blank">
                            <i class="now-ui-icons arrows-1_share-66"></i> Upgrade to PRO
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit-angular" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <footer class="footer" data-background-color="white">
        <!-- <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
        </div>-->
        <!-- <div class="container">
            <br>
            <br>
            <br>
            <div class="copyright">
                &copy;
            {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div> -->
    </footer>
  </div>
