<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <img class="n-logo" style="max-width: 230px" src="assets/img/now-logo.png" alt="">
                <h1 class="title">Planos de contratação.</h1>
                <div class="text-center">
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Conheça nossos planos</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/silver.png" alt="Thumbnail Image" style="max-width: 150px">
                            <h4 class="title">Plano Silver</h4>
                            <p class="category text-primary">Condomínios pequenos</p>
                            <p class="description">Plano destinado para pequenos condomínios que desejam dar um passo adiante no controle e administração do condomínio.
                                Composto pelos módulos mais requisitados, este plano auxilia no gerenciamento de reclamações, avisos globais e reservas de áreas comuns no condomínio.
                                Gostou deste plano? Acha que ele tem a cara do seu condomínio? Veja mais informações sobre ele e todos os outros planos <a href="#">clicando aqui!</a></p>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/gold.png" alt="Thumbnail Image" style="max-width: 150px">
                            <h4 class="title">Plano Gold</h4>
                            <p class="category text-primary">Condomínios médios</p>
                            <p class="description">Plano destinado para condomínios médios que desejam aplicar toda facilidade da informatização da gestão do condomínio.
                                    A gestão sindical fica muito mais fácil com o suporte do NextCondo. Este plano tem 5 módulos, acelerando e garantindo a segurança e qualidade do condomínio.
                                    O Plano Gold também auxilia  no gerenciamento de reclamações, avisos globais e reservas de áreas comuns no condomínio, bem como permite anexar imagens e vídeos nestas ferramentas.
                                    Além disto, ele traz a ferramenta de liberação de visitantes, que permite que os moradores deixem as liberações realizadas previamente, acelerando a entrada e desburocratizando este processo
                                    por parte da portaria.
                                    Gostou deste plano? Acha que ele tem a cara do seu condomínio? Veja mais informações sobre ele e todos os outros planos <a href="#">clicando aqui!</a></p>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/platinum.png" alt="Thumbnail Image" style="max-width: 150px">
                            <h4 class="title">Plano Platinum</h4>
                            <p class="description">A solução completa NextCondo. Contempla todos os módulos dos planos Gold e Silver, bem como não tem limite
                                para usuários e conta com o programa de suporte personalizado. O Plano Platinum do NextCondo ainda permite customizações para
                                tornar seu condomínio destaque entre os outros. Com ferramentas feitas para engajar os moradores e visitantes no condomínio,
                                este plano conta com ferramentas de mural eletrônico, dia de piscina, estabelecimentos conveniados próximos e todas as próximas
                                ferramentas que serão implantadas no NextCondo.
                                    Gostou deste plano? Acha que ele tem a cara do seu condomínio? Veja mais informações sobre ele e todos os outros planos <a href="#">clicando aqui!</a></p>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-youtube-play"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
